html,body{
	height:100%;
	-webkit-font-smoothing:antialiased;
}
.g-top{
	position:absolute;
	left:0;
	right:0;
	top:0;
	z-index:5;
	height:100px;
	background:#111;
}
.f-bg-primary{
	background:#111;
	display:inline;
	height:10px;
}