<div class="title">文艺和物质这两种特质可能会出现在同一个人身上么？</div>
<div class="user">
    <div class="user-desc">
    	<a class="avatar" href="/user/1">
    		<img src="" alt="" title="userAvatar">
    		<span>蔓玫，略知植物 绘画 古典文学 传统文化 有语音障碍 只答一点点</span>
    	</a>
    </div>
    <div class="answer-detail">共有10人回答</div>
    <div class="ques-info">回答价值1元,609人听过，59人觉得值</div>
</div>
